body{
background-color: #262626;

}
.container{
	display: flex;
	height:600px;
	align-items: center;
	justify-content: center;

	flex-wrap: wrap;


	
}


.servicebox{

	width:300px;
	height:auto;
	margin:20px;
	border-radius: 4px;
	background-color: #fff;
	text-align: center;
	padding:20px;
	transition: .3s;

}

.imgarea {
	border-radius:50%;
	border:6px solid #ddd;
	height:80px;
	width:80px;
	margin:auto;
	margin-bottom: 10px;
	padding:20px;
	//background-image:url('logo.jpg');
	

}

#imgweb{
	background-image: url('design.jpg');
}
#imggraphic  {
	background-image: url('graphic.jpg');
	
}
#imgemail{
background-image: url('images.png');
	
}


.header-text{
	font-size: 20px;
	font-weight: 500px;
	line-height: 40px;
}
#webdesign:hover{
	background-color: #e84393;
color:#fff;
	
}
.textarea{
	font-family: poppins;
	padding-top: 20px;
}
.textarea p{
	font-size:15px;
	font-weight: 400px;
	line-height: 30px;
}

#graphicdesign:hover{
background-color: #e84393;
color:#fff;

	
}

#emailmarketing:hover{
background-color: #e84393;
color:#fff;
}

